modules/ROOT/examples/business-events_2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="bizFlow">
        <tracking:custom-event event-name="Retrieved Employee" doc:name="Custom Business Event">
            <tracking:meta-data key="Employee ID" value="#[payload['ID']]"/>
            <tracking:meta-data key="Employee Email" value="#[payload['Email']]"/>
            <tracking:meta-data key="Employee Git ID" value="#[payload['GITHUB_ID']]"/>
        </tracking:custom-event>
        <tracking:custom-event event-name="price_discount">
            <tracking:meta-data key="price-after-discount"
            value="The price for the item is:#[groovy:payload.price]" />
        </tracking:custom-event>
    </flow>
</mule>