modules/ROOT/examples/variable-transformer-reference.xml
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
<http:listener-config name="listener-config" host="localhost" port="8084" doc:name="HTTP Listener Configuration"/>
<http:request-config name="request-config" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
<flow name="VariableTransformingFlow1" >
      <http:listener config-ref="listener-config" path="/" doc:name="HTTP Connector" allowedMethods="GET"/>
      <set-variable variableName="originalRequest" value="#[message.inboundProperties]" doc:name="Save Request"/>
      <http:request config-ref="request-config" path="/" doc:name="HTTP Connector" method="POST">
            <http:request-builder>
                <http:query-param paramName="originalRequest" value="#[message.inboundProperties.'http.query.params'.aaron]"/>
            </http:request-builder>
        </http:request>
      <scripting:component doc:name="Groovy">
         <scripting:script engine="Groovy"><![CDATA[println $(originalRequest)]]></scripting:script>
      </scripting:component>       <remove-variable variableName="NameofVariabletoRemove" doc:name="Variable"/>
      <catch-exception-strategy doc:name="Catch Exception Strategy">
         <logger level="INFO" doc:name="Log Request" message="Error processing #[flowVars['originalRequest']]" />
      </catch-exception-strategy> </flow>
      </mule>