4.4/modules/ROOT/examples/for-each-scope-concept_3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="foreach-test-casesFlow" doc:id="df0421a0-4ec5-482e-8b44-44effb6d4c9d" >
		<scheduler doc:name="Scheduler" doc:id="b833c81f-2e6f-4520-bd5b-fa692786a395" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="ed8669cc-e5a3-4ca4-8040-9c18cd355442" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		name: 'Mark',
		lastname: 'Panoti'
	},
	{
		name: 'Alyssa',
		lastname: 'Milano'
	},
	{
		name: 'Kevin',
		lastname: 'Bacon'
	},
	{
		name: 'Fiona',
		lastname: 'Apple'
	}
]
	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="c3fcdac5-c13a-4de6-bf97-dd7619daa2a3" batchSize="2" >
			<logger level="ERROR" doc:name="Logger" doc:id="c62ea746-65bc-425f-bb59-d515b39fb9b8" message="#['First user name is $(payload[0].name) and lastname is $(payload[0].lastname)']"/>
			<logger level="ERROR" doc:name="Logger" doc:id="c62ea746-65bc-425f-bb59-d515b39fb9b8" message="#['Second user name is $(payload[1].name) and lastname is $(payload[1].lastname)']"/>
		</foreach>
	</flow>
</mule>