4.4/modules/ROOT/examples/for-each-scope-concept_2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="map-keys-iterateFlow" doc:id="323f6bfd-baec-47c5-b65e-e890958fb537" >
		<scheduler doc:name="Scheduler" doc:id="d79f9550-5da8-4c3d-abec-3b2f508431e7" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="4ce789e8-eeca-4cf6-928d-97e1cfd00825" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="users" ><![CDATA[%dw 2.0
output application/java
---
{
	mark: 'Panoti',
	alyssa: 'Milano'
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="d25efadf-782c-4904-ac06-1ed259749d0e" collection="#[dw::core::Objects::entrySet(vars.users)]">
			<logger level="ERROR" doc:name="Logger" doc:id="d6d56214-4b79-45c9-964f-6c4db1a34bc4" message="#['Name is $(payload.key.name) and lastname is $(payload.value)']"/>
		</foreach>
	</flow>
</mule>